body {
  font-family:'Chau Philomene One', serif;
  background: #403f3f;
  margin: 0;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background: #FFE1A8;
  border: 5px solid #000000;
}

h2 {
  text-align: center;
  font-size: 35px;
}

.form-group {
  margin-bottom: 10px;
  label[for="password"],
  label[for="username"] {
    margin-left: 20px;
  }
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background: #cccccc;
  font-family: 'Chau Philomene One', serif;
  width: 100%;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
}

.button-secondary {
  display: block;
  list-style: none;
  text-align: center;
  margin-top: 10px;
  text-decoration: Underline;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}
