body {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  padding: 20px;
}

/* Hauptteil layout div */
.layout {
  display: flex;
}

/* generelle navbar styles */
.navbar-horizontal{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-vertical {
  background-color: #444;
  width: 200px;
  overflow: hidden;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
}

/* labels verstecken, aber für screenreade verfügbar */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
